*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    text-transform: none;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    appearance: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform-style: flat;
    transition: border-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, div, h1, h2, h3, h4, h5, h6, hr, p, ol, ul, form, img {
    display: block;
}
html, body {
    display: block;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
}
html {
    overflow: hidden;
    overflow-y: scroll;
}
body {
    font-family: monospace;
    font-weight: 600;
    font-size: calc(15px - 6px);
    line-height: 1.2em;
    background-color: #0c0d0f;
    color: #8d8d8d;
}
@media only screen and (min-width : 420px) {
    body {
        font-size: calc(15px - 4px);
   }
}
@media only screen and (min-width : 720px) {
    body {
        font-size: calc(15px - 2px);
   }
}
@media only screen and (min-width : 1200px) {
    body {
        font-size: 15px;
   }
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: inherit;
    line-height: 1.2em;
}
hr {
    display: block;
    overflow: hidden;
    margin: 1em 0;
    height: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}
input, button, select, option, textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.if-small {
    display: none;
}
@media only screen and (min-width : 420px) {
    .if-small {
        display: initial;
   }
}
.if-medium {
    display: none;
}
@media only screen and (min-width : 720px) {
    .if-medium {
        display: initial;
   }
}
.if-large {
    display: none;
}
@media only screen and (min-width : 1200px) {
    .if-large {
        display: initial;
   }
}
.hidden, [hidden], [v-cloak] {
    display: none;
}
.disabled, [disabled] {
    pointer-events: none;
    opacity: 0.5;
}
.card {
    padding: 1em;
    background-color: #1e2126;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.push-top {
    margin-top: 1em;
}
.push-right {
    margin-right: 1em;
}
.push-bottom {
    margin-bottom: 1em;
}
.push-left {
    margin-left: 1em;
}
.push-all {
    margin: 1em;
}
.pad-top {
    padding-top: 1em;
}
.pad-right {
    padding-right: 1em;
}
.pad-bottom {
    padding-bottom: 1em;
}
.pad-left {
    padding-left: 1em;
}
.pad-all {
    padding: 1em;
}
.border-top {
    border-top: 2px solid rgba(255, 255, 255, 0.04);
}
.border-right {
    border-right: 2px solid rgba(255, 255, 255, 0.04);
}
.border-bottom {
    border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}
.border-left {
    border-left: 2px solid rgba(255, 255, 255, 0.04);
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-left {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.flex-right {
    justify-content: flex-end;
}
.flex-space {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-top {
    align-items: flex-start;
}
.flex-middle {
    align-items: center;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-underline {
    text-decoration: underline;
}
.text-striked {
    text-decoration: line-through;
}
.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bold;
}
.text-nowrap {
    white-space: nowrap;
}
.text-clip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-primary {
    color: orange;
}
.text-secondary {
    color: #20acea;
}
.text-grey {
    color: #5c6776;
}
.text-bright {
    color: #f0f0f0;
}
.text-faded {
    color: white;
    opacity: 0.3;
}
.text-big {
    font-size: 120%;
    line-height: 1.212em;
}
.text-small {
    font-size: 70%;
    line-height: 1.14em;
}
.text-condense {
    letter-spacing: -1px;
}
.shadow-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.shadow-text {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.7em 1em;
    color: #f0f0f0;
    background-color: #393e48;
    border-radius: 100px;
}
.form-input.dark {
    background-color: #000;
}
.form-input > input {
    width: auto;
}
@keyframes dropdownShow {
    0% {
        transform: translateY(30px);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
.dropdown {
    display: block;
    position: relative;
    cursor: pointer;
}
.dropdown > ul {
    display: none;
    list-style: none;
    position: absolute;
    transition: none;
    animation: dropdownShow 300ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    right: 0;
    top: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 0.5em 0;
    background-color: #272a31;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}
.dropdown > ul > li {
    display: block;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0);
    color: #f0f0f0;
    cursor: pointer;
}
.dropdown > ul > li + li {
    border-top: 2px solid rgba(255, 255, 255, 0.04);
}
.dropdown > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown:hover > ul, .dropdown:active > ul {
    display: block;
}
.header-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1e2126;
    background-image: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.1) 0%, transparent 60%);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.header-wrap .header-row {
    height: 4em;
    padding: 1em;
}
.header-wrap .header-row .dropdown {
    margin-left: 0.4em;
}
.main-wrap {
    position: relative;
    padding: calc(4em + 1em) 1em 1em 1em;
}
.main-wrap .main-grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}
@media only screen and (min-width : 420px) {
    .main-wrap .main-grid-list {
        grid-template-columns: repeat(auto-fill, minmax(406px, 1fr));
   }
}
.main-wrap .main-grid-list .main-grid-item {
    background-color: #1e2126;
    background-image: linear-gradient(65deg, rgba(255, 255, 255, 0.02) 40%, transparent 40%);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.main-wrap .main-grid-list .main-grid-item.gain {
    background-color: #222a22;
}
.main-wrap .main-grid-list .main-grid-item.gain polyline.color {
    stroke: limegreen;
}
.main-wrap .main-grid-list .main-grid-item.gain circle.color {
    fill: limegreen;
}
.main-wrap .main-grid-list .main-grid-item.gain .color {
    color: limegreen;
}
.main-wrap .main-grid-list .main-grid-item.loss {
    background-color: #331a1f;
}
.main-wrap .main-grid-list .main-grid-item.loss polyline.color {
    stroke: crimson;
}
.main-wrap .main-grid-list .main-grid-item.loss circle.color {
    fill: crimson;
}
.main-wrap .main-grid-list .main-grid-item.loss .color {
    color: crimson;
}
.main-wrap .main-grid-list .main-grid-item .main-grid-info {
    padding: 1em;
}
.main-wrap .main-grid-list .main-grid-item .main-grid-info img {
    width: auto;
    height: 42px;
}
@media only screen and (min-width : 420px) {
    .main-wrap .main-grid-list .main-grid-item .main-grid-info img {
        height: 52px;
   }
}
@media only screen and (min-width : 720px) {
    .main-wrap .main-grid-list .main-grid-item .main-grid-info img {
        height: 64px;
   }
}
.main-wrap .main-grid-list .main-grid-item .main-grid-chart {
    padding: 1em;
    background-image: radial-gradient(ellipse at top right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%);
}
.loader-wrap {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 9999;
}
.loader-wrap.visible {
    display: flex;
}
.loader-wrap .loader-content {
    padding: 1em 2em;
    background-color: #1e2126;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.loader-wrap .loader-content i {
    font-style: normal;
    font-size: 600%;
    line-height: normal;
}

::-webkit-scrollbar {
    display: none;
}

.gain {
    color: #37ff51;
}

.loss{
    color: #ff0000;
}
